<h4>Add a todo</h4>
<div class=" my-4">
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="title" class="form-label">Todo Title</label>
          <input type="text" class="form-control" [(ngModel)]="title" id="title" name="title" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">Todo Discription </label>
          <input type="text" class="form-control" id="desc" [(ngModel)]="desc" name="desc">
        </div>
        
        <button type="submit" class="btn btn-primary btn-sm">Add Todo</button>
      </form>
</div>
